html {
	height:100%;
	padding:0;
	margin:0;
}

body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background-color:#D0D0D0;
}
svg { 
	display:block; 
}
.menu{
      height: 40px;
      position: relative; 
}

.menu ul {  
    padding: 0;  
    margin: 0 auto;
    height: 40px;  
}
.menu li {  
    display: inline;  
    float: left;

}
.menu a{
        line-height: 38px;
	display: inline-block;
	text-decoration: none;
}
.menu li a { 
    padding-left:8px;
    padding-right:8px;
    border-right: 2px solid #aaaaaa;
    border-top:2px solid #aaaaaa;
    box-sizing:border-box;
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}
.menu li:first-child a {  
    border-left:2px solid #aaaaaa;
}  
.menu a:hover,
.menu a:active {  
        background-color: #aaaaaa;  
}  

.clearfix:before,  
.clearfix:after {  
        content: " ";  
        display: table;  
}  
.clearfix:after {  
        clear: both;  
}
#headerMenuButton {
	display: none;
}
#Header {
	z-index:1;
	width:100%;
	height:176px;
	position: absolute;
	top:0px;
	left:0px;
	background-color:#ffca80;
}
#Title {
	float:left;
	width:292px;
	height:130px;
	position:relative;
	top:10px;
	left:20px;
}
#HeaderMenu{
	z-index:1;
	width:100%;
	height:40px;
	position:relative;
	top:150px;
	background-color:#ffca80;
	/*IE-9 kuni 11 box shadow fix*/
	border-collapse: separate;
	box-shadow:0px 6px 4px #777777;	
	/*Väldib animatsiooni ajal scrollbari ilmumist */
	overflow: hidden;
	background-color:#ffca80;

}
#HeaderCenterMenu ul {
	margin-left:20px;
	background-color:#ffca80;
}
#movingLogo {
	z-index:1;
	padding:0px;
	margin:0px;
	position:relative;
	top:0px;
	margin-left:20px;
}
#HeaderCenterMenu {
	position:relative;
	top:-36px;
	z-index:2;
	margin:auto;
	padding:0px;
	padding-right: 250px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-x: visible;
	/*Hilisemaks tabide kasutamiseks*/
	/*overflow: hidden;
	/*
	https://www.w3.org/Bugs/Public/show_bug.cgi?id=18913
	CSS validator bug, calc kasutusel hilisemaks tabide kasutusvõimaluseks
	width: calc(100% - 212px);
	/*Firefox 4.0-15.0 toe jaoks
	width: -moz-calc(100% - 212px);
	/*Chrome 19.0-25.0, Safari 6.0-6.1
	width: -webkit-calc(100% - 212px);
	
	box-sizing: border-box; on parem support (ie8, firefox 1.0, chrome 1.0, opera 7.0, safari 3.0, android 2.1, firefox mobile, ie phone 7, safari mobile, opera mobile
	*/
}

#HeaderRightMenu {
	z-index:2;
	right:20px;
	position:absolute;
	float:right;
	top:0; /* liigutab nähtavale*/
}
#ContentMenu {
	position:relative;
	padding:0px;
	padding-left:20px;
	padding-right:20px;
	margin:auto;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#Content {
	position:absolute;
	top:200px;
	width:100%;
	z-index:0;
	padding:0;
	margin:0;
	max-width: 100%;
	
}
#Headlines {
	display: inline-block;
	position:relative;
	width:100%;
  
}

.News {
	position:relative;
	background-color:#aaaaaa;  
	height:20px;
	margin-bottom:5px;
	margin-left:20px;
	margin-right:20px;
	padding:0;
}
@media screen and (max-width: 600px) {
	#HeaderCenterMenu{
		padding-right: 120px;
		width:100%;  
	}

	#HeaderCenterMenu li {
		display: block;
		float:none;
		width:100%;
		border:2px solid #aaaaaa;
		border-top:0px solid #aaaaaa;
		background:#faca80;
	}
	#HeaderCenterMenu a{
		width:100%;
	  
	}
	#HeaderCenterMenu li:first-child{
		border-top:2px solid #aaaaaa;
	}
	#HeaderCenterMenu ul {
		width:100%;
		display: none;
		height:300px;
		box-shadow:10px 6px 4px #777777;
		overflow-y:scroll;
		overflow-x:hidden;
	}
	.menu a#headerMenuButton{
		display:block;
		background-color: #ffca80;
		width:120px;
		margin-left:20px;
		text-align:center;
		border: 2px solid #aaaaaa;
		border-bottom: 0px solid #aaaaaa;
	}
	.menu a#headerMenuButton:after{
		content:" ";
		width:30px;
		height:30px;
		display: inline-block;
		position:absolute;
		right:15px;
		top:10px;
	}
	#HeaderCenterMenu a {
		border:0;
	}
#HeaderMenu{
overflow: visible;
  
}
  #ContentMenu  {   
        height: auto;
    }  
    #ContentMenu  ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    #ContentMenu  li {  
        width: 50%;  
        float: left;  
        position: relative;  
    }  
    #ContentMenu  li a {  
        border: 2px solid #aaaaaa;
    }  
    #ContentMenu  a {  
        text-align: center;  
        width: 100%;
    }
body {
  overflow-x:hidden;
}
}
