<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>UUDISREADER IN HTML5</title>
    <meta charset = "utf-8" />
    
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
    <meta name="viewport content ="width-device-width, initial-scale=1.0">    
</head>

<body class="body">

    <header class="mainhead">
        <img src="/static/img/mainlogo.png" width="700" height="144">
        <nav><ul>
            <li class = "active"><a href="#">Top</a></li>
            <li><a href='#'>Uued</a></li>
            <li><a href='#'>vanad</a></li>
            <li><a href='#'>olalal</a></li>
        <ul></nav>   
    </header>    
    

    
    {% block content %}
    {% endblock %}

    <footer class="mainFooter">
        <p>silly copyright</p>
    </footer>
</body>
</html>
