{% extends "base.html" %}
{% block content %}
<div id="ContentMenu" class="menu">
                <ul id="ContentNav">
                    <li class = "active"><a href="?tab={{ tab }}&amp;kateg={{ kategooria }}&amp;order=-id">Top</a></li>
                    <li><a href="?tab={{ tab }}&amp;kateg={{ kategooria }}&amp;order=-published">Uued</a></li>
                    <li><a href="?tab={{ tab }}&amp;kateg={{ kategooria }}&amp;order=published">Vanad</a></li>
                    <li><a href="?tab={{ tab }}&amp;kateg={{ kategooria }}&amp;order=title">Tähestik</a></li>
                </ul>
</div>
<div id="Headlines">
{% include "uudisblock.html" %}
<div class="PageNav menu" id="StaticPageNav">

{% if page.has_previous %}
<a href="?page={{page.previous_page_number}}&amp;tab={{ tab }}&amp;kateg={{ kategooria }}&amp;order={{ order }}">&lt;Eelmine</a>
{% endif %}

{{page.number}} &#47; {{page.paginator.num_pages}}

{% if page.has_next %}
<a href="?page={{page.next_page_number}}&amp;tab={{ tab }}&amp;kateg={{ kategooria }}&amp;order={{ order }}">Järgmine&gt;</a>
{% endif %}

</div>
</div>
{% endblock %}